@page
@model DocService.Areas.Identity.Pages.Account.AccessDeniedModel


<header>
</header>
@* Big Red Text  *@
<h1>Access Denied</h1>
<p>You do not have permission to access this page.</p>  
<p>Please contact your system administrator if you believe you should have access to this page.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
@* Back to the Index page Button Blue with Button Hover *@ 


<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back</a>
<footer>
    @* Carers Page and Our Company Page Button Blue with Button Hover **@
   
</footer>





