

<body>
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
       
        <li class="nav-item has-treeview menu-open">

               
      

                <p  style="text-align: center; color: black; font-size:25px; font-weight: bold; margin-left: -50px;   "> 
                    Clinic
                    <i class="right fas fa-angle-left"></i>
                <p>
            </a>

            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="https://localhost:7227/Nurse/" class="nav-link active">
                        <i class="far fa-circle nav-icon"></i>
                        <p>PatientInfo</p>
                    </a>
                </li>
              
                <li class="nav-item">
                    <a href="https://localhost:7227/Appointments/" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Appointments</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://localhost:7227/Nurse/NursePrescription" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p> Prescriptions</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://localhost:7227/Nurse/NurseMedicine" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Meidications</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://localhost:7227/Nurse/NurseReport" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Nurse Report</p>
                    </a>
                </li>
              
            </ul>
        </li>
    </ul>
</nav>





 

  <script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.nav');
    var instances = M.Dropdown.init(elems, options);
  });

  </script>

</body>
  </html>
