@{
    ViewData["Title"] = "404 Life Health";
}
<style>
	{
		
		
		

	}

	
</style>
<body>

	<section id="docs" class="home-section bg-gray paddingbot-">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow fadeInDown" data-wow-delay="0.1s">
					<div class="section-heading text-center">
					<h2 class="h-bold">Our Servers are Always running just like our ambulances</h2>
					<p></p>
					</div>
					</div>
					<div class="divider-short"></div>
				</div>
			</div>
		</div>
	</section>

	
	@* Search Card *@

					

	
    <section id="pricing" class="home-section bg-gray paddingbot-60">	
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow lightSpeedIn" data-wow-delay="0.1s">
					<div class="section-heading text-center">
					<h2 class="h-bold">404 Life Health</h2>
					<p>
                        The number one leading Digital hospital is South Africa
                        with tech driven and Data driven care. 
                        404 LH Hospital Prides itself for it health production and
                        processes, trusted by 100+ private institutions in Africa
                         
                        </p>
					</div>
					</div>
					<div class="divider-short"></div>
				</div>
			</div>
		</div>
           
		   <div class="container">
			
			<div class="row">

				
			</div>				
				
            </div>
	</section>	 

</body>
