@model DocService.Models.Entities.Patient

@{
    ViewData["Title"] = "New Patient";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Patient</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
@* Image *@

<div class="col-md-4">
    <div class="text-center">
        <img src="https://www.rhcg.org.uk/media/1207/hospital-education-service.png?width=200&height=200&mode=max"
            alt="logo" style="width:150px; height:150px;" />
    </div>
    <p class="text-center">Patient-Info
    </p>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewPatient" class="needs-validation" >
            <div asp-validation-summary="All" class="validate"></div>
            <div class="input-field col s6">
                <label  asp-for="FirsName" class="validation-label"></label>
                <input asp-for="FirsName" class="validate" type="text"  placeholder="Name"/>
          <span class="helper-text" data-error="wrong" data-success="right"></span>    
            </div>
            <div class="input-field col s6">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span class="helper-text" data-error="wrong" data-success="right"></span>
            </div>
            <div class="input-field col s6">
                <label asp-for="Phone" class="validation-label"></label>
                <input asp-for="Phone" class="validate" name="Phone" placeholder="012141214"  />
          <span class="helper-text" data-error="wrong" data-success="right"></span>    
            </div>
            <div class="input-field col s6" type="email" class="validate">
                <label asp-for="EmailAddress" class="validation-label"></label>
                <input asp-for="EmailAddress" class="validate" type="email" placeholder="email@example.com" />
          <span class="helper-text" data-error="wrong" data-success="right"></span>    
                  </div>
            <div class="input-field col s6">
                <label asp-for="Gender" class="validate" ></label>
                <input asp-for="Gender" class="form-control" />
          <span class="helper-text" data-error="wrong" data-success="right"></span>    
            </div>
            <div class="input-field col s6" class="validate">
                <label asp-for="Address" class="validate"></label>
                <input asp-for="Address" class="form-control" />
          <span class="helper-text" data-error="wrong" data-success="right"></span>    
            </div>
            <div class="input-field col s6" type="text" class="validate">
                <label asp-for="Agreement" class="control-label"></label>
                <input asp-for="Agreement" class="form-control" />
          <span class="helper-text" data-error="wrong" data-success="right"></span>    
            </div>
            <div class="input-field col s6" class="validate">
           <input asp-for="DateOfBirth"   class="validation label-danger" />
          <span class="helper-text" data-error="wrong" data-success="right"></span>    
            </div>
            <div class="input-field col s6" class="validate">
                <label asp-for="BloodType" class="validation-label"></label>
                <input asp-for="BloodType" class="form-control" />
          <span class="helper-text" data-error="wrong" data-success="right"></span>    
            </div>
            <div class="input-field col s6" class="validate">
                <label asp-for="PatientCode" class="validation-label"></label>
                <input asp-for="PatientCode" class="form-control" />
          <span class="helper-text" data-error="wrong" data-success="right"></span>    
            </div>

            <div class="input-field col s6" style="margin-top:-30;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <div class="btn btn-light " style="margin-top:-120px;">
    <a asp-action="Index" asp-controller="Nurse">Back to List</a>


    </div> *@
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

</body>
</html>